@model App.Domain.Walk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location!.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetStartingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetStartingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetDurationMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetDurationMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
